/node_modules
/public
tsconfig.json
tailwind.config.ts
postcss.config.js
package.json
package-lock.json
next.config.mjs
next-env.d.ts
.gitignore
.editorconfig
.eslintrc.js
.lintstagedrc.json
/src/components/core/ui
